@media screen and (max-width: 768px) {
	header{
		.col-sm-4{
			width:30%;
		
		}
		.col-sm-6{
			width:69%;
			img{
				width:100%;
			}
		}

		.navbar-collapse{
			margin-top: 30px;
		    width: 272px;
		    float: right;
		    position: relative;
		    left: -100%;
		    text-align:center;
		    a{
		    	padding: 0px;
		    	margin-bottom: 5px;
    			display: inline-block;
		    }
		}
		.widget-top{
			margin: 10px;
		}
	}
	#banner-home{
		h3{
			font-size:2em;
		}
		.carousel-control-prev, .carousel-control-next{
		    height: 50%;
		    top: 260px;
		}
	}
	#metas-home{
		padding:10px 10px;
		img{
			width:25%;
		}

		h3{
			margin-top:10px;
		}
	}

	#pages-home{
		overflow: hidden;
		.col-md-4{
			max-width:350px;
			margin:10px auto;
		}
		.item-page{
			margin-left:20px;
		}
	}
	
	footer{
		text-align:center;
		#footer{
			label{
				width:100%;
			}
		}

	}

	#rodape{
		#menu-menu-principal{
			margin-bottom:5px;
		}
		.agencia-footer{
			margin:10px 0px;
		}
	}
}